@import "../../../styles/variables.scss";

.input {
    position: relative;
    background: white;
    border-radius: 1.5rem;
    height: 100%;
    width: 100%;
    &__icon {
        position: absolute;
        font-size: 1.5rem;
        top: 25%;
        right: 3%;
        fill: $gray-color;
        &_active {
            fill: $primary-color;
        }
    }
    &__field {
        border: 1px solid $border-color;
        width: 100%;
        gap: 0.5rem;
        background: white;
        border-radius: 1.5rem;
        box-sizing: border-box;
        font-size: $medium-fs;
        color: $gray-color;
        outline: none;
        padding: 0.8rem;
        height: 100%;
        padding-right: 2.5rem;
        &:focus {
            border: 1px solid $primary-color;
            color: $primary-color;
        }
    }
}
input[type="date"] {
    padding: 0.8rem 0.6rem;
    max-width: 9rem;
}
input[type="password"] {
    padding-right: 2.5rem;
}
