// COLORS
$primary-color: rgba(29, 155, 240, 1);
$gray-color:rgba(133, 133, 133, 1);
// FONTS
$small-fs: 0.75rem; //12px
$sm-fs:.9rem; 
$medium-fs:1.125rem; //18px
$big-fs:1.3rem; //21px
// GAP
$gap:.7rem;
