@import "../../styles/variables.scss";

.header {
    height: 5rem;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    &__start {
        display: flex;
        align-items: center;
        width: auto;
        gap: 3rem;
    }
    &__logo {
        position: relative;
        &::after {
            content: "Twitter";
            position: absolute;
            font-size: 1.7rem;
            font-weight: 700;
            color: $primary-color;
            bottom: 0.5rem;
            left: 2.8rem;
            display: block;
            width: 0rem;
            height: 2rem;
            overflow: hidden;
            transition: all 0.3s;
        }
        &:hover::after {
            width: 5.6rem;
        }
        &:hover {
            scale: 1;
        }
    }
    &__end {
        display: flex;
        align-items: center;
    }
    &__btn {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.logo {
    fill: $primary-color;
    font-size: 2.5rem;
    z-index: 2;
}

.hr {
    position: absolute;
    opacity: 0.2;
    left: 0;
    display: block;
    width: 100vw;
    height: 1px;
    background: $gray-color;
}
