@import "../../../styles/variables.scss";

.primary_input {
    position: relative;
    background: rgba(240, 238, 255, 1);
    border-radius: 1.5rem;
    height: 100%;
    &__icon {
        position: absolute;
        fill: $gray-color;
        font-size: 1.5rem;
        top: 25%;
        left: .7rem;
    }
    &__field {
        width: 100%;
        gap: 0.5rem;
        border: none;
        background: $input-color;
        border-radius: 1.5rem;
        box-sizing: border-box;
        font-size: $medium-fs;
        color: $gray-color;
        outline: none;
        padding: 0.8rem;
        padding-left: 2.5rem;
        height: 100%;
        &:focus {
            background: rgb(235, 233, 254);
        }
    }
}
input[type="date"]{
    padding: 0.8rem 0.6rem;
    max-width: 9rem;
}
