@import "../../../../../styles/variables.scss";

.tweet {
    display: flex;
    border: 0.2px solid $border-color;
    border-bottom: 0.1px;
    background-clip: padding-box;
    padding: 1.2rem;
    gap: 1rem;
    &__inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $gap;
    }
    &:hover {
        background: $hover-color;
    }
}

.inner {
    &__header {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        font-size: $sm-fs;
        &_user {
            font-weight: 700;
            &:hover {
                text-decoration: underline;
            }
        }
        &_dot {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &_date {
            color: $gray-color;
        }
        &_time {
            color: $gray-color;
            font-weight: 700;
        }
    }
    &__main {
        font-size: $big-fs;
    }
    &__footer {
        font-size: $medium-fs;
        &_comments {
            cursor: pointer;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            width: fit-content;
            color: $gray-color;
            transition: all .2s;
            &:hover{
                scale: 1.2;
            }
            &_icon-container {
                display: flex;
            }
            &:hover > .inner__footer_comments_icon_container > .message {
                fill: $primary-color;
            }
            &:hover > .inner__footer_comments_count {
                color: $primary-color;
            }

        }
        &_icon {
            font-size: $big-fs;
        }
    }
}
.message {
    fill: $gray-color;
    display: flex;
}
