@import "../../../../styles/variables.scss";

.tweets_feed {
    width: 45rem;
    display: flex;
    flex-direction: column;

    &:nth-child(2) {
        border-bottom: 0.2px solid $border-color;
    }
}
.tweetContainer {
    position: relative;
}

.delete {
    &_btn {
        position: absolute;
        top: 80%;
        right: 1%;
        font-size: 1.4rem;
        color: $gray-color;
    }
    &_icon {
        cursor: pointer;
        transition: all .2s;
        &:hover{
            fill: red;
            scale: 1.4;
        }
    }
}
